body{
    background-color: white;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    padding-left: 230px;
    padding-right: 230px;
    border: #666666;
}
.logo{
    width: 140px;
}
.small-logo{
    width: 15px;
    align-items: center;
    
}
.para{
    font-size: 16px;
    padding: 20px;
    font-family: serif;
    color: #666666;
}
.main{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zerodha{
    width: 750px;
    height: 370px;
    aspect-ratio: 3/2;
}
.button-cl{
    display: flex;
    align-items: center;
   justify-content: center;

}
.Signup-button{
    padding: 10px 30px;
    color: white;
    background-color: #387ED1;
    border: none;
    border-radius: 2px;




}

